

<div class="container">
	<div class="row"><br>
		<div class="col-sm-4"><br>
			<strong>Name - </strong>
			<%= @theatre.name %><br>
			<strong>Address - </strong>
			<%= @theatre.address %><br>
			<strong>Contact - </strong>
			<%= @theatre.contact %><br>
			<strong>Facilities - </strong>
			<%= @theatre.facilities %><br>
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-sm-6">

			<h3>Screens</h3>
			<% @theatre.screens.each do |theatre_screen| %>
			<div class="card">
			  	<div class="card-header">
			    	<%= theatre_screen.name %>
			    	 <%= link_to "Delete Screen",user_theatre_screen_path(current_user, theatre_screen), method: :delete %>
			  	</div>
			<div class="card-body">
			  <blockquote class="blockquote mb-0">
			  	<table class="table">
			  		<tr>
			  			<th>Name</th>
			  			<th>Seats</th>
			  			<th>Price</th>
			  			<th>Edit</th>
			  			<th>Delete</th>
			  		</tr>
			  		<% theatre_screen.sections.each do|section| %>
			  		<tr>
			  			<td>
			  					<%= section.section_name %>			
			  			</td>
			  			<td>
			  				<%= section.seats %>
			  			</td>
			  			<td><%= section.price %></td>
			  			<td><%= link_to "Edit", "#", class: "link" %></td>
			  			<td><%= link_to "Delete", user_theatre_screen_section_path(current_user,section.screen.theatre, section.screen, section), method: :delete, class: "link" %></td>
			  		</tr>
			  		<%end%>
			  	</table>
		    	
					
					
					
					<br>
					
			  <footer class="blockquote-footer"><%= link_to "Add Sections", new_user_theatre_screen_section_path(current_user,@theatre, theatre_screen.id), class: "btn btn-info", id:"section_form" %></footer>
			    </blockquote>
			  </div>
			</div>
			
			

			<%end%>
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-sm-4">
			<%= link_to "Add Screen", new_user_theatre_screen_path(current_user,@theatre.id), class: "btn btn-primary" %>
			<%= link_to "Back", welcome_index_path, class: "btn btn-danger" %>
		</div>
	</div>
	</div>
</div>