<% @default_seats = []%>


<% @booking.seats.split(",") %>




<% @default_seats %>
<%= link_to "Back", user_movieshows_path(current_user), class: "btn btn-danger" %>
<br><div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="background-color: powderblue;" >
                <div class="card-body">
                    <h5 class="card-title">
                        <center>Theatre Name: <%= @movieshow.theatre.name %></h5></center>
                    <p class="card-text">
                        Address: <%= @movieshow.theatre.address%>
                        <div class="image" style="height: 100px; width: 100px;">
                            <%= image_tag @movieshow.movie.thumbnail, class: "rounded-circle" %>
                            </div><br><br><br><br>
                        <h4 style="background-color: powderblue;">Movie Name: <%= @movieshow.movie.name%></h4>
                        Screen Name: <%= @movieshow.screen.name %><br>
                        Date: <%= @movieshow.show_date.strftime('%d-%m') %>&nbsp;&nbsp;
                        Time: <%= @movieshow.show_time.strftime('%H-%M') %>
                    </p>
                    <%= form_for ([current_user,@movieshow, @booking]) do |form| %>
                    <%= form.hidden_field :movieshow_id, value: @movieshow.id %>
                    Booked Seats:<%= form.text_field :seats,id: "seat", class: "form-control", :readonly => true%></p>
                    Total Price: <%= form.text_field :price ,id: "final_price", class: "form-control", :readonly => true%>
                    <br>
                   <center><%=form.submit class: "btn btn-success" %></center>
                    <%end%>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <%@movieshow.screen.sections.each do |rec| %><br>
            <% @@section_name = rec.section_name[0]%>
                <div class="<%=rec.section_name %>" id= "section" name = "">
                    <p class="<%=rec.section_name %>" id = "<%= rec.price %>">Section Name : <%= rec.section_name %></p>
                        <span class="<%= rec.price %>">Price: <%= rec.price %></span><br>
                        <% (1..rec.seats).each_with_index do |seats,i| %>
                            <span class="<%=rec.section_name %>" id= "spanseat"><%= check_box_tag :seats,"#{@@section_name}#{i}",@booking.seats.split(",").include?("#{@@section_name}#{i}"), data: { "price" => "#{rec.price}" } ,class: 'seat' %></span>
                            <%if seats % 10 == 0 %>
                                <br>
                            <%end%>
                    <%end%>
                </div>
            <%end%> 
            <div class="eyes" style="background-color: gray;"><center>All Eyes this way please</center></div>
        </div>

    </div>
</div>
