<!-- <input type="text" placeholder="Search.." id="search_booking"> -->
<div class="container">
	<div class="row">
			<div class="col-sm-10">
				<table class="table">
					<tr>
						<th>Theatre Name</th>
						<th>Movie Name</th>
						<th>Screen</th>
						<th>Show Date</th>
						<th>Show Time</th>
						<th>Tickets</th>
						<th>Amount</th>
						<th>Actions</th>
					</tr>
					<% current_user.bookings.each do |booking| %> 
					<tr>
						<td><%= booking.movieshow.theatre.name%></td>
						<td><%= booking.movieshow.movie.name %></td>
						<td><%= booking.movieshow.screen.name %></td>
						<td><%= booking.movieshow.show_date %></td>
						<td><%= booking.movieshow.show_time.strftime("%H:%M") %></td>
						<td><%= booking.seats%></td>
						<td><%= booking.price %></td>
						<td><%= link_to "Edit Booking", edit_user_booking_path(current_user,booking.id) %>
					</tr>
					<%end%>
				</table>
		</div>
	</div>
</div><br>
<%= link_to "Back", welcome_index_path %>