<%@@first_char = []%>
<br><div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
		      	<div class="card-body">
			        <h5 class="card-title">
			        	Theatre Name: <%= @movieshow.theatre.name %></h5>
			        <p class="card-text">
			        	Address: <%= @movieshow.theatre.address%>
			        	<h4>Movie Name: <%= @movieshow.movie.name%></h4>
			        	Screen Name: <%= @movieshow.screen.name %><br>
			        	Date: <%= @movieshow.show_date.strftime('%d-%m') %>&nbsp;&nbsp;
			        	Time: <%= @movieshow.show_time.strftime('%H-%M') %>
			        </p>
			        <%= form_for ([current_user,@movieshow, @booking]) do |form| %>
			        <%= form.hidden_field :movieshow_id, value: @movieshow.id %>
			        Booked Seats:<%= form.text_field :seats,id: "seat" %></p>
			        Price: <p id="price"></p>
			        Tota Price: <%= form.text_field :price ,id: "final_price" %>
			        <br>
			        <%=form.submit %>
			        <%end%>
			        
		    	</div>
			</div>
		</div>
 		<div class="col-sm-4">
 			<%@movieshow.screen.sections.each do |rec| %><br>
 			<% @@section_name = rec.section_name[0]%>
 				<div class="<%=rec.section_name %>" id= "" name = "">
					<p class="<%=rec.section_name %>" id = "<%= rec.price %>"><%= rec.section_name %></p>
						<span class="<%= rec.price %>"><%= rec.price %></span><br>
						<% (1..rec.seats).each_with_index do |seats,i| %>
							<span class="<%=rec.section_name %>" id= "spanseat"><%= check_box_tag :seats,"#{@@section_name}#{i}", false, data: { "price" => "#{rec.price}" } ,class: 'abc'%></span>
							<%if seats % 10 == 0 %>
								<br>
							<%end%>
	   				<%end%>
   			</div>
		<%end%> 
 		</div>
 		<%= image_tag(@movieshow.movie.thumbnail) %>
 	</div>
</div>
<%= link_to "Back", user_movieshows_path(current_user) %>