<br>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<ul class="nav justify-content-center" >
				<li class="nav-item">
			    <a class="nav-link search_booking" data-movie-id="<%= @movie.id %>" href="#"><%= Date.today%></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link search_booking" data-movie-id="<%= @movie.id %>" href="#"><%=Date.today+1%></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link search_booking" data-movie-id="<%= @movie.id %>" href="#"><%= Date.today+2%></a>
			  </li>
			</ul>
		</div>
	</div><br>

	<div class="row" style="background: #F5F5F5; height: 100px; width: 100%;">
		<div class="" id="sort_shows"></div>
</div>


<%= link_to "Back", user_movieshows_path(current_user) %>